<section id="info" class="big-name">
  <div class="sticky-paper-head has-shadow ">
    <div class="content">
      <h1><%= Label.retrieve(:home_title) %></h1>

      <div class="short-tag">
        <%= Label.retrieve(:home_title2) %>
      </div>
    </div>
  </div>
  <div class="sticky-paper-body has-shadow ">
    <div class="content">
      <div class="row">
        <div class="col-xs-12 col-md-7">
          <div class="le-paragraph">
            <%= Label.retrieve(:home_text) %>
          </div>
        </div>
        <div class="col-xs-12 col-md-5">
          <div class="tabled-info-holder">
            <ul class="info-holder">
              <li>
                <div class="info-item">
                  <i class="fa fa-envelope"></i>
                  <span><%= Label.retrieve :home_email %></span>
                </div>
              </li>
              <li>
                <div class="info-item">
                  <i class="fa fa-map-marker"></i>
                  <span><%= Label.retrieve :home_address %></span>
                </div>
              </li>
              <li>
                <div class="info-item">
                  <i class="fa fa-phone"></i>
                  <span><%= Label.retrieve :home_phone %></span>
                </div>
              </li>
              <!--<li>-->
              <!--<div class="info-item">-->
              <!--<i class="fa fa-twitter"></i>-->
              <!--<span>Twitter: <a href="#">@example</a></span>-->
              <!--</div>-->
              <!--</li>-->

            </ul>

            <!--<ul class="info-holder">-->
            <!---->
            <!--</ul>-->
            <!--<div class="social-icons small">-->
            <!--<ul>-->
            <!--<li>-->
            <!--<a class="fa fa-facebook" href="#"></a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a class="fa fa-twitter" href="#"></a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a class="fa fa-google-plus" href="#"></a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a class="fa fa-youtube" href="#"></a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a class="fa fa-github" href="#"></a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>